body {
    font-family: "Azeret Mono", monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header-area {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: "Azeret Mono", monospace;
    color: #0D1321;
    font-size: 28px;
    font-weight: bold;

}

.container {
    width: 1140px;
    margin: auto;
}

button.btn-download {
    padding: 17px 24px 17px 24px;
    font-size: 20px;
    font-family: Azeret Mono", monospace";
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;

}

header#header {
    padding: 22px 0px;
}

/* Herro section  */
#herro {
    background-image: url(img/Hero-bg.png);
    background-position: center;
    background-size: contain;
    width: 100%;
    height: 652px;
}

.herro-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 1000px;
    margin: auto;
}

h1.titile {
    font-size: 48px;
    text-align: center;
}

p.description {
    font-size: 16px;
    text-align: center;
    padding: 0px 95px;
}

.contact-btn {
    position: static;
    width: 243px;
    height: 66px;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 21px 24px 21px 24px;
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color: #fff;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
}

.titile {
    margin-bottom: 10px;
}

#web-development {
    padding: 0px 0px;
}

h1.web-titile {
    font-size: 32px;
    text-align: center;
}

p.web-description {
    font-size: 16px;
    text-align: center;
    padding: 0px 48px;
    padding-bottom: 48px;
}

.web-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 48px;
}

.web-skills:first-child {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.web-skill {
    width: 480px;
}

.web-development-area {
    padding: 80px 97px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
}

.web-skill h2 {
    font-size: 24px;
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

button.learn-more-btn {
    padding: 12px 30px 12px 30px;
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    background: transparent;
    margin-top: 20px;
}

.inspiration-area {
    padding: 48px;
}

.inspiration-titile {
    font-size: 32px;
    text-align: center;
}

.inspiration-description {
    font-size: 16px;
    text-align: center;
    padding: 0px 95px;
    padding-bottom: 48px;
}

.web-skills:first-of-type{
    background-color: #fff;
}
.web-skills:nth-of-type(3){
    background-color: #fff;
}
.youtube-iframe {
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}